<div class="container">
  <h1>みなさんの装い</h1>
  <div class="btn_area">
    <%= link_to '新規登録', new_coordinate_path, class: 'btn btn-default' %>
  </div>
  <% @coordinates.each do |coordinate| %>
  <div class="col-sm-6 col-md-4">
    <div class="thumbnail">
      <div class="image_area">
        <div class="show_image"><%= link_to image_tag(coordinate.image), coordinate_path(coordinate.id) %></div>
      </div>
      <div class="caption">
        <p>
          <span class="glyphicon glyphicon-user" aria-hidden="true"></span>
          <%= User.find_by(id: coordinate.user_id).name %>
        </p>
      </div>
    </div>
  </div>
  <% end %>
</div>
