// Place all the styles related to the coordinates controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.image_area {
  height: 250px;
  overflow: hidden;
  margin-top:10px;
}
.coordinate_image {
  text-align:center;
}

.coordinate_image img {
  max-width: 96%;
  height:auto;
  margin: 0 auto;
}

.btn_area {
  margin-top:10px;
  margin-bottom:10px;
  text-align: right;
}
