// Place all the styles related to the coordinates controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.top_1 {
  width:100%;
  height: 180px;
  background-image:url('samekomonblue.jpg');
}
.top_2 {
  width:100%;
  height: 10px;
  background-color: #aacf53;
}
.top_3 {
  text-align: center;
  background-image:url('kikkou.jpg');
  margin:0;
  height:50px;
  padding-top: 20px;
}
.top_4 {
  width:100%;
  height: 270px;
  background-image:url('samekomonblue.jpg');
  margin-bottom: 20px;
}

.top_content {
  font-size: 1.5rem;
  color:#a22041;
  font-family:serif;
  padding:0;
}
.footer {
 background-color: #f8f8f8;
 height:50px;
 width:100%;
 position:static;
 bottom:0;
 display:table;
 border-radius: 4px;
 border: 1px solid ;
 border-color: #e7e7e7;
}

.footer p {
 font-size:1.3rem;
 color:#a22041;
 text-align:center;
 vertical-align:middle;
 display:table-cell;
}

.image_of_user {
  width:100px;
  background-color:write;
  opacity:1;
  margin-right:10px;
  text-align:center;
}

.image_area {
  height: 250px;
  overflow: hidden;
  margin-top:10px;
}
.show_image_area {
  margin-top :5px;
}

.user_page_image_area {
  height: 180px;
  overflow: hidden;
  margin-top:10px;
  margin-bottom: 10px;
}
.show_image {
  text-align:center;
}

.show_image img {
  max-width: 96%;
  height:auto;
  margin: 0 auto;
}

.btn_area {
  margin-top:10px;
  margin-bottom:10px;
  text-align: right;
}

.submit_btn{
  text-align: center;
}

.user_name {
  margin-bottom: 20px;
}

.heart {
  text-align: right;
  padding-right: 10px;
}
.profile {
  margin-left: 10px;
}
.profile th {
  width:80px;
}

.profile_content {
  word-wrap: break-word;
  margin-top: 30px;
  margin-bottom: 30px;
}

.input_area {
  padding-left: 10%;
  padding-right: 10%;
}

.input100 {
  width:100%;
}

.input60 {
  width:60%;
}
p {
  word-wrap: break-word;
}
