// Place all the styles related to the coordinates controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.top_image {
  width:100%;
}

.login {
  margin:20px 10px;
  text-align:right;
}

.image_of_user {
  width:100px;
  background-color:write;
  opacity:1;
  margin-right:10px;
  text-align:center;
}

.image_area {
  height: 250px;
  overflow: hidden;
  margin-top:10px;
}
.show_image_area {
  margin-top :5px;
}

.user_page_image_area {
  height: 180px;
  overflow: hidden;
  margin-top:10px;
  margin-bottom: 10px;
}
.show_image {
  text-align:center;
}

.show_image img {
  max-width: 96%;
  height:auto;
  margin: 0 auto;
}

.btn_area {
  margin-top:10px;
  margin-bottom:10px;
  text-align: right;
}

.submit_btn{
  text-align: center;
}

.user_name {
  margin-bottom: 20px;
}

.heart {
  text-align: right;
  padding-right: 10px;
}
.profile {
  margin-left: 10px;
}
.profile th {
  width:80px;
}

.profile_content {
  word-wrap: break-word;
  margin-top: 30px;
  margin-bottom: 30px;
}
